@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*$prb: 'PT Sans';*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=cyrillic');*/
body, html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
  background-color: #fafafa;
  background-image: url(../images/wall-bg.jpg);
  -webkit-font-smoothing: antialiased;
}

.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 2;
}

.cf:after, .breadcrumb:after,
.cf:before,
.breadcrumb:before {
  content: '';
  display: table;
}

.cf:after, .breadcrumb:after {
  clear: both;
}

*:focus {
  outline: none;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

a {
  color: #cc142a;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
a:hover, a:focus {
  color: #cc142a;
  border-bottom: 1px solid #cc142a;
  text-decoration: none;
}
a:active {
  color: #a11425;
}

h1,
h2 {
  margin: .4em 0 .5em;
  color: #010715;
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  margin: 0 0 .5em 0;
  color: #010715;
  font-weight: 600;
}

h1 {
  font-size: 219%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 125%;
}

h5 {
  font-style: 100%;
}

h6 {
  font-size: 87%;
}

p {
  margin-bottom: 1.2em;
  line-height: 1.4;
  font-size: 100%;
  color: #030b1d;
  letter-spacing: .5px;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

ol {
  list-style-type: decimal;
}

ul li {
  position: relative;
  padding-left: 15px;
}
ul li:before {
  content: '';
  position: absolute;
  top: .5em;
  left: 0;
  margin-top: -1.5px;
  border: 5px solid transparent;
  border-left: 5px solid #cc142a;
}

ul,
ol {
  margin: 0 0 1.2em 0;
}
ul li,
ol li {
  margin-bottom: .5em;
}

table {
  width: 100%;
  margin: 0 auto;
}
table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
table tr:nth-child(odd) {
  background-color: rgba(188, 188, 188, 0.3);
}
table tr:nth-child(even) {
  background-color: rgba(114, 114, 114, 0.3);
}
table td {
  padding: 15px 25px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  width: 250px;
  height: 36px;
  margin-top: 0;
  padding: 0 20px 0 20px;
  line-height: 36px;
  border: none;
  border: 1px solid white;
  color: #fff;
  font-size: 87%;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #cc162a;
}

::-webkit-input-placeholder {
  color: white;
  opacity: .8;
}

::-moz-placeholder {
  color: white;
  opacity: .8;
}

:-ms-input-placeholder {
  color: white;
  opacity: .8;
}

:-moz-placeholder {
  color: white;
  opacity: .8;
}

::placeholder {
  color: white;
  opacity: .8;
}

.form-group {
  margin-bottom: 18px;
}

.btn {
  display: inline-block;
  min-width: 210px;
  height: 36px;
  margin: 1em 0;
  padding: 0 25px;
  font-size: 94%;
  font-weight: 400;
  letter-spacing: .3px;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  border-radius: 0;
  word-break: keep-all;
  text-align: center;
  background-color: #cc162a;
  border: 2px solid #cc162a;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn:hover, .btn:active, .btn:active:focus, .btn:focus {
  background-color: transparent;
  color: #fff;
  border: 2px solid #cc162a;
  outline: none !important;
}

.btn-w {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}
.btn-w:hover, .btn-w:active, .btn-w:focus {
  background-color: #cc162a;
  border: 2px solid #cc162a;
  color: #fff;
}

.btn-b {
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
}
.btn-b:hover, .btn-b:active, .btn-b:focus {
  background-color: #cc162a;
  border: 2px solid #cc162a;
  color: #fff;
}

.btn-group {
  display: block;
  float: none;
  text-align: center;
}
.btn-group > .btn {
  float: none;
}

.cover-image {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-top {
  background-color: rgba(3, 11, 29, 0.85);
}
.header-top .container {
  position: relative;
}
.header-top .contact-b {
  float: right;
  margin: .4em 0;
}
.header-top .contact-b .btn-callback {
  margin: 0;
}

.svg-i {
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.rub {
  display: inline-block;
  line-height: 6px;
  border-bottom: 1px solid #000000;
  width: 0.4em;
}

.address,
.tel {
  display: inline-block;
  margin: 0 90px 0 0;
  font-size: 87%;
  color: #fff;
  vertical-align: middle;
}

.tel {
  margin-left: 60px;
}
.tel:hover, .tel:focus {
  color: #fff;
}

.brand-logo {
  z-index: 8;
  position: absolute;
  top: 22px;
  left: 0;
  border: none;
}
.brand-logo:hover, .brand-logo:focus {
  border: none;
}
.brand-logo .logo-text {
  position: absolute;
  top: 36px;
  left: 88px;
  width: 150px;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
.brand-logo .logo-text-top {
  font-size: 20.5px;
  color: #cc142a;
  line-height: 1.1;
}

.logo-i {
  width: 84px;
  height: 122px;
}

.navbar {
  height: 66px;
  margin: 0;
  background: rgba(250, 250, 250, 0.9);
  border: none;
  border-radius: 0;
}
.navbar .main-menu {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 12px;
}

.navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  float: none;
}
.navbar-nav:after, .navbar-nav:before {
  display: none;
}
.navbar-nav .nav-item {
  margin-bottom: 0;
  padding-left: 0;
}
.navbar-nav .nav-item:before {
  display: none;
}
.navbar-nav .nav-item a {
  position: relative;
  padding: 10px 25px 7px 25px;
  font-size: 87.5%;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  letter-spacing: .6px;
}
.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:focus {
  color: #cc162a;
  background: transparent;
  text-decoration: none;
  border: none;
}
.navbar-nav .nav-item.active a {
  color: #cc162a;
}
.navbar-nav > .nav-item:last-child > a {
  padding-right: 0;
}
.navbar-nav .dropdown-menu {
  min-width: inherit;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.navbar-nav .dropdown-menu .caret {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  background-color: transparent;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.navbar-nav .dropdown-menu .caret .chevron-down {
  top: 0;
  fill: #000;
}
.navbar-nav .dropdown-menu li {
  margin-bottom: 0;
  padding-left: 0;
  border-bottom: 1px solid transparent;
}
.navbar-nav .dropdown-menu li:before {
  display: none;
}
.navbar-nav .dropdown-menu li a {
  width: 250px;
  padding: 10px 25px;
  color: #000;
  border: none;
  background-color: rgba(250, 250, 250, 0.9);
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  font-size: 93%;
}
.navbar-nav .dropdown-menu li a:after {
  display: none;
}
.navbar-nav .dropdown-menu li a:hover, .navbar-nav .dropdown-menu li a:active, .navbar-nav .dropdown-menu li a:focus {
  color: #fff;
  background-color: #cc142a;
  border: none;
}
.navbar-nav .dropdown-menu li a:hover:after, .navbar-nav .dropdown-menu li a:active:after, .navbar-nav .dropdown-menu li a:focus:after {
  display: none;
}
.navbar-nav .dropdown-menu li a:hover .chevron-down, .navbar-nav .dropdown-menu li a:active .chevron-down, .navbar-nav .dropdown-menu li a:focus .chevron-down {
  fill: #fff;
}
.navbar-nav .dropdown-menu li.active a {
  color: #fff;
}

.nav {
  margin: 0;
}
.nav .dropdown > input,
.nav .dropdown .drop-icon {
  display: none;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
}

.drop-icon {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.125);
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.drop-icon:hover .chevron-right, .drop-icon:focus .chevron-right {
  fill: #1399bd;
}
.drop-icon .chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7.5px;
  margin-left: -4px;
}

.caret {
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px auto 0 auto;
  border-radius: 50%;
  background-color: #d12c3e;
  border: none;
  text-align: center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.caret .chevron-down {
  position: relative;
  top: -3px;
  width: 8px;
  height: 8px;
  fill: #fff;
}
.caret.navbar-toggle {
  float: none;
  padding: 0;
}

.header > .navbar-toggle {
  z-index: 1100;
  position: absolute;
  top: 62px;
  right: 20px;
  width: 32px;
  height: 35px;
  margin: 0;
  padding: 0;
  transition-duration: 0.5s;
}
.header > .navbar-toggle .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 30px;
  top: 18px;
  background-color: #000;
}
.header > .navbar-toggle .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  content: "";
  top: -8px;
  left: 0px;
}
.header > .navbar-toggle .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  content: "";
  top: 8px;
  left: 0;
}
.header > .navbar-toggle.menu-active .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.header > .navbar-toggle.menu-active .icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(1) translate(8px, 3px);
  -ms-transform: rotateZ(45deg) scaleX(1) translate(8px, 3px);
  -o-transform: rotateZ(45deg) scaleX(1) translate(8px, 3px);
  transform: rotateZ(45deg) scaleX(1) translate(8px, 3px);
}
.header > .navbar-toggle.menu-active .icon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1) translate(8px, -3px);
  -ms-transform: rotateZ(-45deg) scaleX(1) translate(8px, -3px);
  -o-transform: rotateZ(-45deg) scaleX(1) translate(8px, -3px);
  transform: rotateZ(-45deg) scaleX(1) translate(8px, -3px);
}
.header > .navbar-toggle:hover {
  cursor: pointer;
}

.promo-nav {
  z-index: 6;
  position: absolute;
  top: 55%;
  width: 100%;
  height: 35px;
}

.promo-nav-item {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  opacity: .7;
  cursor: pointer;
  text-align: center;
}
.promo-nav-item:hover {
  opacity: 1;
}
.promo-nav-item .chevron-slider {
  position: relative;
  top: 8px;
  left: 1px;
  width: 18px;
  height: 18px;
  fill: #fff;
}
.promo-nav-item.prev-slide {
  left: 14%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.promo-nav-item.next-slide {
  right: 14%;
}

.promo-slider {
  position: relative;
  height: 620px;
  overflow: hidden;
}

.promo-slider-item {
  height: 620px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.promo-slider-item .slider-bg-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.promo-slider-item .slider-info {
  flex: 1 1;
  width: 35%;
  z-index: 100;
  position: relative;
  top: 50px;
  color: #fff;
}
.promo-slider-item .slider-title {
  margin: .4em 0 .5em 0;
  font-size: 220%;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: .6px;
}
.promo-slider-item .slider-subtitle {
  margin-bottom: 30px;
  font-size: 100%;
  letter-spacing: .4px;
}

.section-header {
  z-index: 5;
  position: relative;
  padding: 40px 0 30px 0;
  text-align: center;
}

.section-title {
  margin: 0;
  font-size: 219%;
  color: #030b1d;
  text-transform: uppercase;
  letter-spacing: .6px;
}
.section-title.section-title__w {
  color: #fff;
}

.section-sub {
  font-size: 125%;
  font-style: italic;
  letter-spacing: .5px;
}

/*--Service------------------*/
.service .container {
  padding: 0;
}

.tile-list {
  margin: 0;
  text-align: center;
}

.tile-item {
  position: relative;
  display: inline-block;
  width: 350px;
  margin: 0 55px 50px 0;
  padding-left: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.tile-item:nth-child(3n) {
  margin-right: 0;
}
.tile-item:before {
  display: none;
}
.tile-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 22, 42, 0.9);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.tile-item:hover:after {
  opacity: 1;
}
.tile-item:hover .tile-bottom {
  bottom: 55%;
  background-color: transparent;
}
.tile-item:hover .tile-bottom .tile-title:after {
  background-color: #fff;
}
.tile-item .btn {
  position: absolute;
  top: 70px;
  left: 50%;
  margin: 18px 0 0 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
}
.tile-item .btn:hover, .tile-item .btn:focus {
  background-color: #fff;
  border: 2px solid #fff;
  color: #cc162a;
}

.tile-img {
  width: 350px;
  height: 270px;
  overflow: hidden;
}

.tile-bottom {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(3, 11, 29, 0.9);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.tile-title {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.tile-title:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: transparent;
}
.tile-title i {
  display: block;
  text-transform: none;
}

/*--Gallery section------------------*/
.our-gallery {
  background: url(../images/gallery-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.our-gallery .container {
  padding: 0;
}
.our-gallery .btn-group {
  margin-top: -18px;
  padding-bottom: 40px;
  text-align: center;
}

.our-gallery .tile-bottom {
  bottom: -50px;
  background-color: transparent;
}

/*--Portoflio-----------------*/
.portfolio-slider,
.article-slider {
  position: relative;
  height: 430px;
  margin: 0 0 55px 0;
}
.portfolio-slider .slider-item,
.article-slider .slider-item {
  height: 430px;
  margin: 15px 0;
  padding-left: 0;
}
.portfolio-slider .slider-item:before,
.article-slider .slider-item:before {
  display: none;
}

.article-slider {
  height: 360px;
  margin-bottom: 40px;
  overflow: hidden;
}
.article-slider .slider-item {
  height: 360px;
  margin: 0;
}

.portfolio-nav,
.article-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.portfolio-nav-item,
.article-nav-item {
  z-index: 5;
  position: absolute;
  width: 52px;
  height: 52px;
  margin-top: -25px;
  background-color: rgba(3, 11, 29, 0.9);
  cursor: pointer;
  text-align: center;
}
.portfolio-nav-item:active .chevron-slider,
.article-nav-item:active .chevron-slider {
  opacity: .8;
}
.portfolio-nav-item .chevron-slider,
.article-nav-item .chevron-slider {
  position: relative;
  top: 6px;
  width: 38px;
  height: 40px;
  fill: #fff;
}
.portfolio-nav-item.prev-slide,
.article-nav-item.prev-slide {
  left: 0;
}
.portfolio-nav-item.prev-slide .chevron-slider,
.article-nav-item.prev-slide .chevron-slider {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.portfolio-nav-item.next-slide,
.article-nav-item.next-slide {
  right: 0;
}

.fancybox {
  position: relative;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.fancybox:after {
  z-index: 6;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 415px;
  font-size: 80px;
  color: #fff;
  font-weight: 300;
  background-color: rgba(1, 7, 21, 0.9);
  background-image: url(../images/plus-i.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  outline: none;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.fancybox:hover, .fancybox:focus {
  outline: none;
}
.fancybox:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.fancybox:hover:after {
  opacity: 1;
}

/*--contact--------------*/
.contact {
  background: url(../images/contact-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
}
.contact-form .ucomment {
  height: 90px;
  resize: vertical;
}
.contact-form .submit-wrap {
  margin: 1em 0 3em 0;
  text-align: center;
}

/*--Footer-----------------------------*/
.footer {
  background-color: #030b1d;
  color: #fff;
}
.footer > .container {
  padding: 35px 0 75px 0;
}
.footer a {
  text-decoration: none;
  border: none;
}
.footer a:hover, .footer a:active {
  color: #cc162a;
  text-decoration: none;
  border: none;
}

.f-cols {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.f-col {
  max-width: 220px;
  min-width: 180px;
  padding: 25px 0px 0 20px;
}
.f-col .contact-b {
  margin-bottom: 2em;
  color: #bcbcbc;
}
.f-col .tel {
  margin: 0;
  font-size: 100%;
  color: #bcbcbc;
}

.f-brand {
  position: relative;
  max-width: 300px;
}
.f-brand .brand-logo {
  position: relative;
  top: 5px;
}
.f-brand .brand-logo .logo-text {
  top: 32px;
  left: 98px;
  font-size: 16px;
  color: #fff;
}

.f-title {
  margin-bottom: 1em;
  font-size: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .4px;
}

.f-nav-item {
  margin-bottom: 0;
  padding-left: 0;
}
.f-nav-item:before {
  display: none;
}
.f-nav-item a {
  display: inline-block;
  padding: 4px 0;
  font-size: 100%;
  color: #bcbcbc;
}

.f-logo {
  display: block;
  margin-bottom: 15px;
}

.f-text,
.f-text p {
  font-size: 87%;
  color: #fff;
  letter-spacing: .2px;
}

.f-list li a {
  position: relative;
  padding: 2px 0;
  color: #dedede;
  font-size: 87%;
}

.copyright {
  padding: 25px 0;
  background: #010715;
}

.copyright-text {
  padding-top: 30px;
  font-size: 14px;
  color: #dedede;
}

.dev-logo {
  display: inline-block;
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #fff;
}

/*--Inner pages-----------------*/
.inner .header {
  position: relative;
}
.inner .content-wrap .section-title {
  text-align: left;
}

.content {
  padding-bottom: 30px;
  font-size: 16px;
  color: #353537;
}

.content .article-slider {
  margin: 0 0 30px 0;
}

.price-page .section-title {
  text-align: center;
}
.price-page table {
  width: 80%;
}
.price-page table td:nth-child(2) {
  width: 170px;
}
.price-page table td {
  font-weight: 600;
}

.content-wrap {
  padding-bottom: 40px;
}

.breadcrumb {
  margin: 0;
  padding: 40px 0 0 0;
  border-radius: 0;
  background-color: transparent;
}
.breadcrumb ul {
  margin: 0;
}
.breadcrumb ul li {
  float: left;
  font-size: 75%;
  color: #cc162a;
  padding-left: 0;
  font-weight: 600;
}
.breadcrumb ul li:before {
  display: none;
}
.breadcrumb ul li:after {
  content: '>';
  display: inline-block;
  margin: 0 6px;
}
.breadcrumb ul li:last-child:after {
  display: none;
}
.breadcrumb ul li a {
  color: #030b1d;
}
.breadcrumb ul li a:hover {
  border-bottom: 1px solid #030b1d;
}

.breadcrumb + .section-header {
  padding-top: 15px;
}

.catalog-item {
  display: inline-block;
  margin-bottom: 40px;
  overflow: hidden;
}
.catalog-item img {
  width: 100%;
}
.catalog-item .catalog-link {
  display: block;
  position: relative;
}
.catalog-item .catalog-link:hover .catalog-title {
  background-color: rgba(204, 22, 42, 0.9);
}
.catalog-item .active .catalog-title {
  background-color: rgba(204, 22, 42, 0.9);
}
.catalog-item .catalog-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 25px;
  background-color: rgba(3, 11, 29, 0.9);
  font-size: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: .6px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.catalog-sublist ul a {
  font-weight: 600;
  color: #030b1d;
}
.catalog-sublist ul a:hover {
  color: #cc142a;
}

/*--Modal-----------------------------*/
.modal {
  z-index: 1050;
}
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="tel"],
.modal input[type="password"],
.modal textarea {
  width: 100%;
  border: 1px solid #bbb;
  color: #000;
}
.modal ::-webkit-input-placeholder {
  color: #999;
  opacity: .8;
}
.modal ::-moz-placeholder {
  color: #999;
  opacity: .8;
}
.modal :-ms-input-placeholder {
  color: #999;
  opacity: .8;
}
.modal :-moz-placeholder {
  color: #999;
  opacity: .8;
}
.modal ::placeholder {
  color: #999;
  opacity: .8;
}
.modal .contact-form {
  width: 355px;
  margin: 10px auto 45px auto;
  padding-left: 0;
}
.modal .contact-form .form-group {
  float: none;
  display: block;
  margin: 0 auto 15px auto;
}
.modal .contact-form .submit-wrap {
  margin-top: 1.5em;
}
.modal .close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  color: #000;
  text-indent: -9999px;
  opacity: .5;
}
.modal .close:hover {
  opacity: 1;
}
.modal .close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal .close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-body {
  padding: 30px 25px;
}

.modal-content {
  background: #fff;
  background-position: 10% 10px;
  text-align: center;
  border-radius: 0;
}

.mess-body {
  margin-bottom: 1em;
}

.form-title {
  margin: 1.5em 0 1em 0;
  text-align: center;
  font-size: 140%;
  font-weight: 500;
  color: #1e1e1e;
  line-height: 1.2;
  text-transform: uppercase;
}

.submit-wrap {
  float: none;
}
.submit-wrap .btn-submit {
  margin: 0;
}

/*--MEDIA QUERIES---------------------------------------*/
@media screen and (max-width: 1600px) {
  .promo-nav-item.next-slide {
    right: 25px;
  }

  .promo-nav-item.prev-slide {
    left: 25px;
  }
}
@media screen and (max-width: 1200px) {
  .header > .navbar-toggle {
    display: block;
  }

  .brand-logo {
    top: 20px;
    left: 15px;
  }

  .container {
    width: 100%;
  }

  .main-menu .container {
    width: 100%;
    padding: 0;
  }
  .main-menu .navbar-nav.nav {
    display: block;
    padding-top: 0;
    text-align: left;
  }
  .main-menu .navbar-nav.nav .nav-item {
    display: block;
    float: none;
  }
  .main-menu .navbar-nav.nav .nav-item.active a {
    color: #1399bd;
    background-color: #f0f0f0;
    border: none;
  }
  .main-menu .navbar-nav.nav .nav-item.active a:after {
    display: none;
  }
  .main-menu .navbar-nav.nav .nav-item input[type="checkbox"] + .dropdown-menu {
    display: none;
  }
  .main-menu .navbar-nav.nav .nav-item input[type="checkbox"]:checked + .dropdown-menu {
    display: block;
  }
  .main-menu .navbar-nav.nav a {
    float: none;
    margin: 0;
    padding: 12px;
    color: #000;
    font-size: 87%;
    font-weight: 500;
    border-bottom: 1px solid #e2e2e2;
    white-space: pre-line;
  }
  .main-menu .navbar-nav.nav a:after {
    display: none;
  }
  .main-menu .navbar-nav.nav a:hover, .main-menu .navbar-nav.nav a:active, .main-menu .navbar-nav.nav a:focus {
    color: #444 !important;
    background-color: #e2e2e2;
    border-color: transparent;
  }
  .main-menu .navbar-nav.nav a:hover:after, .main-menu .navbar-nav.nav a:active:after, .main-menu .navbar-nav.nav a:focus:after {
    display: none;
  }
  .main-menu .navbar-nav.nav .nav-item.dropdown > a {
    padding: 12px;
  }
  .main-menu .navbar-nav.nav .dropdown {
    position: static;
    float: none;
    background: #fff;
    padding: 0;
    box-shadow: none;
  }
  .main-menu .navbar-nav.nav .dropdown a {
    width: 100%;
    font-size: 94%;
    font-weight: normal;
    border-bottom: none;
    color: #000;
    text-transform: none;
  }
  .main-menu .navbar-nav.nav .dropdown a .caret {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    background-color: transparent;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  .main-menu .navbar-nav.nav .dropdown a .caret .chevron-down {
    color: #000;
    fill: #000;
  }
  .main-menu .navbar-nav.nav .dropdown .highlighted > .caret {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .main-menu.collapse {
    display: block !important;
  }

  .navbar-nav .dropdown-menu {
    min-width: 100% !important;
  }

  .navbar-collapse.collapse {
    height: 100% !important;
  }

  /* General styles for all menus */
  .cbp-spmenu {
    background: #fff;
    position: fixed;
    padding: 35px 0;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: visible;
    display: block;
  }

  .cbp-spmenu h3 {
    color: #000;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #fff;
  }

  .cbp-spmenu a {
    display: block;
  }

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 305px;
    height: 100% !important;
    top: 0;
    z-index: -1;
  }

  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }

  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
  }

  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
  }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-left {
    left: -305px;
  }

  .cbp-spmenu-right {
    right: -305px;
  }

  .cbp-spmenu-left.cbp-spmenu-open {
    z-index: 20;
    left: 0px;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
  }

  /* Horizontal menu that slides from the top or bottom */
  .cbp-spmenu-top {
    top: -100%;
    left: 0;
  }

  .cbp-spmenu-bottom {
    bottom: -150px;
  }

  .cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
  }

  .cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
  }

  /* custom */
  .cbp-spmenu-push-toright .cbp-spmenu-top {
    top: 0px;
    left: 0;
  }

  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }

  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
  }

  .cbp-spmenu-push-toright:before {
    z-index: 9;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  /*--END Menu------------------------------*/
  .address,
  .tel {
    margin-right: 20px;
  }

  .tel {
    margin-left: 20px;
  }

  .promo-slider-item .slider-info {
    left: 10%;
    width: 50%;
  }

  .tile-item {
    margin: 0 25px 50px 25px;
  }

  .tile-item:nth-child(3n) {
    margin-right: 25px;
  }

  /**/
  .advantage-list {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .advantage-item {
    flex-basis: 49.8%;
    margin-right: 0;
  }
  .advantage-item .sep {
    right: -10%;
  }
  .advantage-item:nth-child(even) .sep {
    display: none;
  }

  .advantage-desc {
    max-width: 250px;
    margin: 0 auto;
  }

  .contact-form .form-group {
    float: none;
    margin-right: 0;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form textarea.form-control {
    width: 100% !important;
  }

  .submit-wrap {
    text-align: center;
  }
  .submit-wrap .btn {
    margin-top: 20px;
  }

  .contact-detail {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 990px) {
  .header-top .contact-b .address,
  .header-top .contact-b .tel {
    display: none;
  }

  .section-title {
    font-size: 160%;
  }

  .f-cols {
    padding: 0 15px;
  }

  .f-col {
    flex-basis: 30%;
  }

  .f-brand {
    flex-basis: 40%;
  }

  .copyright {
    text-align: center;
  }
  .copyright .pull-right {
    float: none !important;
  }
  .copyright .dev-logo {
    display: inline-block;
    margin-top: 10px;
  }

  .copyright-text {
    padding-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .promo-slider-item .slider-info {
    width: 100%;
    left: 0;
  }
  .promo-slider-item .slider-title {
    font-size: 160%;
  }

  .promo-nav {
    top: inherit;
    bottom: 20px;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 10px 15px 10px 25px;
  }

  .catalog-item {
    margin-bottom: 12px;
  }

  .catalog-link .catalog-title {
    position: relative;
    text-align: left;
  }
  .catalog-link img {
    display: none;
  }

  .tab-content {
    margin-top: 20px;
  }
}
@media screen and (max-width: 680px) {
  .tile-item {
    margin: 0 0 30px 0;
  }

  .f-col {
    flex-basis: 100%;
  }

  .modal input {
    width: 100%;
  }
  .modal .btn {
    min-width: 100%;
  }
  .modal .contact-form {
    width: 100%;
    margin-bottom: 35px;
    padding: 0 15px;
  }
  .modal .form-title {
    margin-top: 2em;
    padding: 0 15px;
  }
  .modal .contact-form .submit-wrap {
    margin-top: 0;
  }
}
/* Add some SmartMenus required styles not covered in Bootstrap 3's default CSS.
 These are theme independent and should work with any Bootstrap 3 theme mod.
*/
/* sub menus arrows on desktop */
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
  padding-right: 30px;
}

/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  height: 20px;
  overflow: hidden;
  text-align: center;
}

.navbar-nav span.scroll-up-arrow,
.navbar-nav span.scroll-down-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
}

.navbar-nav span.scroll-down-arrow {
  top: 6px;
}

/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
  left: 0;
  right: auto;
}
